{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
        <div id="pin-masonry-container" class="js-masonry"> <!--Cascading Grid Layout using Masonry-->
        {% for pin in pins %}
            <div class="col-xs-7 col-sm-3 clear">
                <div class="pin-container">
                    <div class="pin-image-button-wrapper">
                        <div class="pin-button-container">
                            <button type="button" class="btn btn-default like-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default pin-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default close-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-remove close-glyphicon" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="pin-image-container">
                            <image src={{ pin.image.url }}></image>
                        </div>
                    </div>
                    <div class="pin-title-container">
                        <p class="pin-title">{{ pin.title }}</p>
                    </div>
                    <div class="pin-meta-container">
                        <div class="pin-description">
                            <p>{{ pin.description }}</p>
                        </div>
                        <div class="pin-meta-info">
                            <p class="pin-meta">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                <span class="likes-count" data-pinid="{{ pin.id }}">{{ pin.likes }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="pin-category-container">
                        <p>{{ pin.category }}</p>
                    </div>

                </div>
            </div>

        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}