{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}



{% block body %}
<!---Pin Pin Modal-->
 <div class="modal fade in" id="pin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div id="form-modal-body" class="modal-body">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>


    <!--Pin Display-->
    <div class="container-fluid">
        <div class="row">
        <div id="pin-masonry-container" class="js-masonry"> <!--Cascading Grid Layout using Masonry-->
        {% for pin in pins %}
            <div class="col-xs-7 col-sm-3" >
                <div class="pin-container" data-pinid="{{ pin.id }}">
                    <div class="pin-image-button-wrapper">
                        <div class="pin-button-container">
                            <button type="button" class="btn btn-default like-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </button>
                        <a data-toggle="modal" href="{% url 'pin_pin' pin.id %}" data-target="#pin-modal">
                            <button type="button" class="btn btn-default pin-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                            </button>
                        </a>
                            <button type="button" class="btn btn-default close-button" aria-label="Left Align" data-pinid="{{ pin.id }}">
                                <span class="glyphicon glyphicon-remove close-glyphicon" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="pin-image-container">
                            <image src={{ pin.image.url }}></image>
                        </div>
                    </div>
                    <div class="pin-title-container">
                        <p class="pin-title">{{ pin.title }}</p>
                    </div>
                    <div class="pin-meta-container">
                        <div class="pin-description">
                            <p>{{ pin.description }}</p>
                        </div>
                        <div class="pin-meta-info">
                            <p class="pin-meta">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                <span class="likes-count" data-pinid="{{ pin.id }}">{{ pin.likes }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="pin-category-container">
                        <p>{{ pin.category }}</p>
                    </div>

                </div>
            </div>

        {% endfor %}
        </div>
        </div>
    </div>


{% endblock %}